<div class="mb-5">
  <div class="navbar bg-gray-200 shadow-sm border-b border-gray-300">
    <div class="navbar-start my-2">
      <h1 class="xl:text-2xl lg:text-base text-center text-primary"><%= title %></h1>
    </div>

    <div class="navbar-center">
      <%= form_with url: branches_path, method: :get do |f| %>
        <div class="flex">
          <label class="join input input-bordered xl:w-96 lg:w-80 rounded-full items-center">
            <span class="material-symbols-outlined mr-2">search</span>

            <%= f.text_field :query, value: params[:query], placeholder: "Buscar" %>
          </label>

          <%= f.submit "OK", class: "btn btn-primary rounded-r-full -ml-14" %>
        </div>

        <span class="xl:text-sm lg:text-xs font-bold mx-5">
          Procure por:
          <span class="text-primary">ID, Nome ou Número</span>
        </span>
      <% end %>
    </div>

    <div class="navbar-end"></div>
  </div>
</div>
