<div class="px-5 mb-5">
  <div class="navbar bg-gray-200 shadow-sm border-b border-gray-300">
    <div class="navbar-start justify-between my-2">
      <h1 class="xl:text-2xl text-xl text-center text-primary"><%= title %></h1>

      <%= form_with url: branches_path, method: :get do |f| %>
        <div class="flex">
          <label class="join input input-bordered w-96 rounded-full items-center">
            <span class="material-symbols-outlined mr-2">search</span>

            <%= f.text_field :query, value: params[:query], placeholder: "ID, Nome ou Número" %>
          </label>

          <%= f.submit "OK", class: "btn btn-primary rounded-r-full -ml-14" %>
        </div>
      <% end %>
    </div>

    <div class="navbar-end"></div>
  </div>
</div>
