<ul class="menu rounded-box mb-5">
  <li>
    <ul class="border-l-2 border-primary">
      <div class="overflow-auto">
        <table class="table w-full">
          <thead class="text-base">
            <tr>
              <th>Avulso</th>
              <th>Com parceria</th>
            </tr>
          </thead>

          <tbody>
            <tr class="bg-gray-200 border-t border-b border-black">
              <td><%= number_to_currency([@total_amount_received - @total_with_partnership, 0].max) %></td>
              <td><%= number_to_currency(@total_with_partnership) %></td>
            </tr>
          </tbody>

          <tfoot>
            <thead>
              <tr>
                <th class="pt-7"></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr class="bg-gray-200 border-t border-b border-black h-10">
                <td class="font-semibold text-base">Faturamento</td>

                <td><%= number_to_currency(@billing) %> (=)</td>
              </tr>
            </tbody>
          </tfoot>
        </table>
      </div>
    </ul>
  </li>
</ul>
