<ul class="menu rounded-box mb-5">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <table class="xl:table-auto lg:table-xs w-full my-2">
        <thead class="xl:text-base lg:text-sm">
          <tr>
            <th>Em dinheiro</th>
            <th>Em bancos</th>
          </tr>
        </thead>

        <tbody>
          <tr class="bg-gray-200 border-t border-b border-black">
            <td><%= number_to_currency(with_partnership.sum(&:branch_partnership)) %></td>
            <td><%= number_to_currency(with_partnership.sum(&:total_discounts)) %></td>
          </tr>
        </tbody>

        <tfoot>
          <thead>
            <tr>
              <th class="pt-7"></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr class="bg-gray-200 border-t border-b border-black h-10">
              <td class="xl:text-base lg:text-sm font-semibold">Parceria total</td>

              <td>
                <%= number_to_currency(with_partnership.sum(&:branch_partnership) + with_partnership.sum(&:total_discounts)) %>
                (-)
              </td>
            </tr>
          </tbody>
        </tfoot>
      </table>
    </ul>
  </li>
</ul>
