<ul class="menu rounded-box mb-5">
  <li>
    <ul class="border-l-2 border-b-2 border-primary">
      <table class="xl:table-auto lg:table-xs w-full my-2">
        <thead class="xl:text-base lg:text-sm">
          <tr><th></th></tr>
        </thead>

        <tbody>
          <tr class="bg-gray-200 border-t border-b border-black h-10">
            <td class="xl:text-base lg:text-sm font-semibold">Parceria adiantada pela loja</td>

            <td><%= number_to_currency(with_partnership.sum(&:total_discounts)) %> (+)</td>
          </tr>

          <tr class="bg-gray-200 border-t border-b border-black h-10">
            <td class="xl:text-base lg:text-sm font-semibold">Pagamento de comissão para representantes</td>

            <td><%= number_to_currency(with_partnership.sum(&:commission_payments_transfers)) %> (-) ver tabela abaixo</td>
          </tr>

          <tr class="bg-gray-200 border-t border-b border-black h-10">
            <td class="xl:text-base lg:text-sm font-semibold">Repasse de comissão para representantes</td>

            <td><%= number_to_currency(with_partnership.sum(&:commission_payments_transfers)) %> (+) ver tabela abaixo</td>
          </tr>

          <tr class="bg-gray-200 border-t border-b border-black h-10">
            <td class="xl:text-base lg:text-sm font-semibold">Total devido</td>

            <td><%= number_to_currency(with_partnership.sum(&:branch_partnership) + with_partnership.sum(&:commission_payments_transfers)) %> (=)</td>
          </tr>
        </tbody>
      </table>
    </ul>
  </li>
</ul>
