<div class="navbar bg-gray-200 shadow-sm border-b border-gray-300">
  <div class="navbar-start">
    <%= render ButtonLinkComponent.new(label: "Voltar", url: branches_path) %>
  </div>

  <div class="navbar-center justify-between">
    <h1 class="xl:text-2xl text-xl text-center text-primary"><%= title %></h1>
  </div>

  <div class="navbar-end">
    <%= render ButtonLinkComponent.new(label: "Gerar PDF", url: download_pdf_branches_path(kind: kind), target: "_blank") %>
  </div>
</div>
