<section class="navbar flex justify-end gap-4 mt-4">
  <div class="modal-action">
    <%= @form.submit @label, class: "btn rounded-lg w-24 bg-primary text-white hover:bg-primary" %>
  </div>
</section>
