<div class="<%= @target.present? ? 'mx-5 my-2 flex justify-end' : '' %>">
  <%= link_to @label, (request.referer || @url), target: @target, class: @target.present? ? 'btn btn-primary w-28' : 'btn btn-default w-20' %>
</div>
