<div class="my-3 flex justify-center items-center h-full">
  <div class="flex items-center justify-center">
    <label class="flex items-center justify-center gap-5">
      <%= @form.check_box @field_name, class: "checkbox checkbox-primary" %>
      <%= @label %>
    </label>
  </div>
</div>
