<div class="flex flex-col justify-center">
  <label class="label label-text"><%= @label %></label>

  <div class="w-full">
    <%= @form.hidden_field @field_name, value: @selected if @disabled.present? %>
    <%= @form.select @field_name, options_for_select(@options, @selected), { include_blank: true }, { class: "select select-bordered w-full #{'pointer-events-none !bg-gray-200' if @disabled.present?}", disabled: @disabled } %>

    <p class="text-sm text-red-500">
      <%= @error_message.join(", ") if @error_message.present? %>
    </p>
  </div>
</div>
