<li class="border-b border-gray-300">
  <%= link_to @label, @url, class: "text-primary lg:text-lg md:text-base font-semibold" %>

  <span class="lg:text-sm md:text-xs pointer-events-none">
    <%= @subtitle %>
  </span>
</li>
