<div class="form-control my-2">
  <%= @form.label @field_name, @label, class: 'label label-text' %>
  <%= @form.text_field @field_name, type: "#{@type if @type.present?}", min: 0, class: "input input-bordered xl:text-base lg:text-sm #{'input-error' if @error_message.present?}", data: @data %>
  <p class='xl:text-sm lg:text-xs text-red-500'><%= @error_message.join(', ') if @error_message.present? %></p>
</div>
