<div class="my-2">
  <fieldset class="fieldset">
    <legend class="fieldset-legend text-left my-3"><%= @label %></legend>

    <%= @form.text_area @field_name, class: "textarea textarea-bordered h-24 w-full" %>
  </fieldset>
</div>
