<div class="flex justify-between items-center my-2 lg px-5">
  <h1 class="text-2xl text-center text-primary mx-auto">Listagem de Representantes</h1>

  <fieldset class="fieldset w-96 border border-primary p-2 rounded-box">
    <legend class="fieldset-legend text-primary">Com os itens selecionados ...</legend>

    <div class="join border border-primary join-item rounded-r-full">
      <select class="select">
        <option disabled selected>Selecione uma opção</option>
        <option>Salva Listagem de Pacientes</option>
        <option>Salva Listagem de Pacientes resumida</option>
        <option>Resumido Mensal</option>
        <option>Etiquetas</option>
        <option>Relatório de Endereços</option>
      </select>

      <button class="btn btn-primary join-item">Ok</button>
    </div>
  </fieldset>
</div>
