<div class="px-5">
  <div class="navbar bg-gray-200 shadow-sm">
    <div class="navbar-start justify-between">
      <h1 class="xl:text-2xl text-xl text-center text-primary"><%= title %></h1>

      <div class="flex">
        <input type="text" placeholder="Buscar" class="input input-bordered w-80" />
        <button class="btn btn-primary -ml-14">OK</button>
      </div>
    </div>

    <div class="navbar-end">
      <fieldset class="fieldset border border-primary p-2 rounded-box">
        <legend class="fieldset-legend text-primary">Com os itens ativos ...</legend>

        <div class="join border border-primary join-item rounded-r-full">
          <%= form_with url: select_representatives_path, method: :get, local: true do |form| %>
            <%= form.select :select_action, options_for_select(@select), {}, class: 'select' %>
            <%= form.submit 'Ok', class: 'btn btn-primary join-item' %>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>
</div>
