<ul class="menu rounded-box my-5">
  <label class="font-semibold text-xl text-primary">Divisão de Notas</label>

  <li>
    <ul class="border-l-2 border-primary">
      <div class="overflow-hidden">
        <table class="table">
          <thead class="text-base">
            <tr>
              <th>Quantidade</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>553 x 50</td>
              <td>R$ 27.650,00</td>
            </tr>

            <tr>
              <td>14 x 20</td>
              <td>R$ 280,00</td>
            </tr>

            <tr>
              <td>5 x 10</td>
              <td>R$ 50,00</td>
            </tr>
          </tbody>

          <tfoot>
            <thead>
              <tr>
                <th class="font-semibold text-base pt-10">Total de Notas</th>
                <th class="font-semibold text-base pt-10">Total</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th>13</th>
                <th>R$ 27.980,00</th>
              </tr>
            </tbody>
          </tfoot>
        </table>
      </div>
    </ul>
  </li>
</ul>
