<ul class="menu rounded-box my-5">
  <label class="font-semibold text-xl text-primary">Divisão de Notas</label>

  <%= render "shared/notes", note_divisions: total_in_cash, total_marks: @total_marks, total_cash: @total_cash %>
</ul>
