<ul class="menu rounded-box">
  <label class="font-semibold text-xl text-primary">Divisão de Notas</label>

  <%= render "shared/notes", note_divisions: cashes[:total_in_cash],
      total_marks: cashes[:total_marks], total_cash: cashes[:total_cash]
  %>
</ul>
