<div class="flex flex-col items-center p-5">
  <h1>Listagem de representantes</h1>

  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th>Fechamento</th>
          <th>Data inicial</th>
          <th>Data final</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
  </div>

  <%= link_to "Novo representante", representatives_path %>
</div>
