<section class="flex flex-col gap-5 mb-20">
  <% @representatives.each do |representative| %>
    <%= render "sub_actions", representative: representative, title: "Lista de Pacientes Resumida", kind: "summary_patient_listing", filter: params[:filter] %>
    <%= render "form_filter", url: summary_patient_listing_representative_path(representative) %>

    <%= render "shared/patient_listing", closing: @current_closing.closing,
        representative_name: representative.name, prescribers: @prescribers[representative.id]
    %>
  <% end %>
</section>
