<section class="flex flex-col gap-5 p-5 mb-20">
  <% @representatives.each do |representative| %>
    <div class="grid grid-cols-12 mx-10">
      <div class="col-start-1 col-end-11">
        <h1 class="text-2xl font-bold text-primary text-center">Listagem Resumida</h1>
      </div>

      <div class="col-start-12">
        <%= link_to "Download PDF",
            download_pdf_representative_path(representative, kind: "summary_patient_listing"),
            target: "_blank", class: "btn btn-primary w-36"
        %>
      </div>
    </div>

    <%= render "shared/patient_listing", closing: @closing,
        representative_name: representative.name, prescribers: @prescribers[representative.id]
    %>
  <% end %>
</section>
