<section class="flex flex-col gap-5 p-5 mb-20">
  <% @representatives.each do |representative| %>
    <%= render "sub_actions", representative: representative, title: "Listagem de Pacientes Resumida", kind: "summary_patient_listing" %>

    <%= render "shared/patient_listing", closing: @current_closing.closing,
        representative_name: representative.name, prescribers: @prescribers[representative.id]
    %>
  <% end %>
</section>
