<section class="flex flex-col gap-5 mb-20">
  <% @representatives.each do |representative| %>
    <%= render "sub_actions", representative: representative, title: "Lista de Endereços", kind: "unaccumulated_addresses" %>

    <div class="card shadow-lg border border-primary p-5">
      <label class="text-lg">
        Clientes de
        <span class="text-primary"><%= representative.name.upcase %></span> em
        <span class="text-primary"><%= @current_closing.closing %></span>
      </label>

      <%= render "shared/address", prescribers: @prescribers[representative.id] %>
    </div>
  <% end %>
</section>
