<section class="flex flex-col gap-5 p-5 mb-20">
  <div class="card shadow-lg border border-primary p-5">
    <label class="text-lg">Clientes de
      <span class="text-primary">
        <%= @representative.name.upcase %>
      </span>em

      <span class="text-primary"><%= @closing %></span>
    </label>

    <%= render "shared/address", monthly_reports: @monthly_reports %>
  </div>
</section>
