<nav class="navbar bg-neutral shadow-lg text-white">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">EML Processor</a>
  </div>

  <div class="navbar-end">
    <div class="mx-2">
      <%= link_to "Customers", customers_path, class: "nav-link" %>
    </div>

    <div class="mx-2">
      <%= link_to "Logs", processing_logs_path, class: "nav-link" %>
    </div>
  </div>
</nav>
