<turbo-frame id="notification_card" data-turbo-permanent>
  <div data-controller="notification" data-notification-target="card" class="fixed z-50 hidden top-24 right-5 max-w-md w-full">
    <div data-controller="draggable" class="card bg-base-100 shadow-2xl w-96 border">
      <div class="card-body">
        <h2 class="text-primary text-center text-xl">Processando...</h2>

        <div class="flex my-3 items-center">
          <span class="loading loading-spinner text-primary h-8 w-8" data-notification-target="waiting"></span>
          <span class="material-symbols-outlined text-red-600 text-4xl hidden" data-notification-target="error">dangerous</span>
          <span class="material-symbols-outlined text-success text-4xl hidden" data-notification-target="success">check_circle</span>

          <span class="mx-2 text-center text-lg" data-notification-target="message"></span>
        </div>

        <hr data-notification-target="line" class="absolute left-0 right-0 bottom-20 hidden">

        <div class="flex justify-center gap-5 mt-7">
            <%= link_to "Customers", customers_path,
              data: { "notification-target": "customersButton", "turbo-frame": "_top" },
              class: "btn btn-sm w-24 btn-primary text-white hidden"
            %>

            <%= link_to "Logs", processing_logs_path,
              data: { "notification-target": "logsButton", "turbo-frame": "_top" },
              class: "btn btn-sm w-16 btn-primary text-white hidden"
            %>

          <button data-action="click->notification#close" data-notification-target="closeButton" class="btn btn-sm w-16 btn-error text-white hidden">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
