<turbo-frame id="notification_card" data-turbo-permanent>
  <div data-controller="notification" data-notification-target="card" class="fixed top-5 right-5 z-50 hidden max-w-sm w-full">
    <div data-controller="draggable" class="card bg-base-100 shadow-xl w-96">
      <div class="card-body">
        <h2 class="text-primary text-center text-2xl">Notificações de Fechamento</h2>
        <hr class="my-2">

        <div class="flex justify-center">
          <ul class="steps steps-vertical" data-notification-target="steps">
            <li class="step step-neutral">Iniciado</li>
            <li class="step step-neutral">Criar Requisições</li>
            <li class="step step-neutral">Criar Relatórios</li>
            <li class="step step-neutral">Atualizar Relatórios</li>
            <li class="step step-neutral">Enumerar Envelopes</li>
            <li class="step step-neutral">Concluído</li>
          </ul>
        </div>

        <div class="flex my-3 items-center">
          <span class="loading loading-spinner text-primary h-8 w-8" data-notification-target="waiting"></span>
          <span class="material-symbols-outlined text-red-600 text-4xl hidden" data-notification-target="error">dangerous</span>
          <span class="material-symbols-outlined text-success text-4xl hidden" data-notification-target="success">check_circle</span>

          <span class="mx-2 text-center" data-notification-target="message"></span>
        </div>

        <div class="flex justify-center">
          <button data-action="click->notification#close" data-notification-target="closeButton" class="btn btn-sm w-28 btn-error hidden text-white">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
