<tfoot>
  <thead>
    <tr>
      <th colspan="5" class="font-semibold text-base pt-7">Quantidade</th>
      <th class="font-semibold text-base pt-7">Valor Disponível</th>
    </tr>
  </thead>

  <tbody>
    <tr class="bg-gray-200 border-t border-b border-black h-10">
      <td colspan="5" ><%= monthly_report.quantity %></td>
      <td><%= number_to_currency(monthly_report.available_value) %></td>
    </tr>
  </tbody>
</tfoot>
