<div class="card border border-primary p-5 my-2">
  <div class="flex gap-3 font-bold">
    <span class="text-primary"><%= representative.name.upcase %></span>
    em <span class="text-primary"><%= closing %>
  </div>

  <% monthly_reports.each do |reports| %>
    <ul class="menu rounded-box mb-4">
      <li>
        <ul class="border-l-2 border-primary">
          <div class="overflow-hidden my-2">
            <table class="table-auto w-full">
              <%= render "shared/patient/foot", monthly_report: reports[:reports], situation: reports[:info][1], envelope_number: reports[:info][0] %>
            </table>
          </div>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
