services:
  rails:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ../..:/workspaces:cached
    working_dir: /workspaces/unipharmus_v2
    command: bash -c "rm -f tmp/pids/server.pid && bin/rails server -b 0.0.0.0 -p 3003"
    networks:
      - default
    ports:
      - 3003:3003
    environment:
      REDIS_URL: redis://redis:6379/1
      DB_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    depends_on:
      - selenium
      - redis
      - postgres

  selenium:
    image: seleniarm/standalone-chromium
    restart: unless-stopped
    networks:
      - default

  redis:
    image: redis:7.2
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  postgres:
    image: postgres:16.1
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      DB_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  sidekiq:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    working_dir: /workspaces/unipharmus_v2
    # network_mode: host
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ../..:/workspaces
    environment:
      REDIS_URL: redis://redis:6379/1
      DB_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    depends_on:
      selenium:
        condition: service_started
      postgres:
        condition: service_started
      redis:
        condition: service_healthy
    command: bundle exec sidekiq -e development

volumes:
  redis-data:
  postgres-data:
