<div class="hero bg-gray-100 font-jost flex items-center justify-center mx-0 my-52">
  <div class="hero-content flex-1 flex-row-reverse">
    <div class="text-center">
      <h1 class="text-5xl font-bold font-canvas">Entrar</h1>

      <p class="py-6">
        Insira seu usuário e senha para acessar seu site.
      </p>
    </div>

    <div class="card bg-secondary w-full max-w-md shrink-0 shadow-2xl">
      <form class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-black">Usuário</span>
            </label>

            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input input-bordered" %>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text text-black">Senha</span>
            </label>

            <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered" %>
          </div>

          <div class="form-control mt-6 text-white">
            <button class="btn bg-primary hover:bg-primary">Entrar</button>
          </div>
        <% end %>
      </form>
    </div>
  </div>
</div>
