<section class="flex flex-col gap-5 p-5 mb-20">
  <div class="card shadow-lg border border-primary p-5">
    <label class="text-lg">
      Auditoria de Fechamento de
      <span class="text-primary">
        <%= @current_closing&.closing %>
      </span>
    </label>

    <%= render "store_collection", store_collections: @store_collections, store_total_count: @store_total_count, store_total_value: @store_total_value %>
    <%= render "payment_for_representative", payment_for_representatives: @payment_for_representatives, representative_total_quantity: @representative_total_quantity, representative_total_value: @representative_total_value %>
    <%= render "as_follow", as_follows: @as_follows, as_follow_total_count: @as_follow_total_count, as_follow_value: @as_follow_value %>

    <p><b>Obs.:</b> n찾o est찾o computados nestes dep처sitos a comiss찾o sobre vendas para representantes.</p>
  </div>
</section>
