
<% @note_divisions.each do |representative, note_divisions| %>
  <section class="flex flex-col p-5">
    <div class="card shadow-lg border border-primary p-5">
      <label class="text-lg">
        <span class="text-primary">
          <%= representative.upcase %>
        </span>
      </label>

      <%= render "shared/notes", note_divisions: note_divisions, total_marks: @total_marks, total_cash: @total_cash %>
    </div>
  </section>
<% end %>
