<tfoot>
  <thead>
    <tr class="xl:text-base lg:text-sm font-semibold">
      <th colspan="6">Quantidade</th>
      <th>Valor Disponível</th>
    </tr>
  </thead>

  <tbody>
    <tr class="bg-gray-200 border-t border-b border-black h-10">
      <td colspan="6"><%= prescriber.quantity %></td>
      <td><%= number_to_currency(prescriber.available_value) %></td>
    </tr>
  </tbody>
</tfoot>
