<div class="flex justify-between items-center my-3">
  <h1 class="text-2xl text-center text-primary mx-auto">Listagem de descontos</h1>
</div>

<div class="flex w-full flex-col my-12">
  <div class="overflow-x-auto">
    <table class="table-auto w-full text-sm font-semibold">
      <thead class="text-base">
        <tr>
          <th>Filial Id</th>
          <th>descrição</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>

  <div class="divider border-t"></div>

  <div class="grid place-items-center">
    <%#== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>

<dialog id="modal_discounts_create" class="modal place-items-center">
  <%#= render ModalComponent.new(form: render("form", closing: @closing, title: "Novo fechamento"), btn_back: "Fechar sem salvar") %>
</dialog>
