<div class="flex justify-between items-center my-3">
  <h1 class="text-2xl text-center text-primary mx-auto">Listagem de prescritores</h1>
</div>

<div class="flex w-full flex-col my-12">
  <div class="place-items-center overflow-x-auto">
    <table class="table table-zebra">
      <thead class="text-base">
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Cons.</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
      </tbody>
    </table>
  </div>

  <div class="divider border-t"></div>

  <div class="grid place-items-center">
    <%#== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>

<dialog id="modal_prescribers_create" class="modal place-items-center">
  <%#= render ModalComponent.new(form: render("form", closing: @closing, title: "Novo fechamento"), btn_title: "Fechar sem salvar") %>
</dialog>
