<section class="flex flex-col mx-5 mb-20">
  <%= render "sub_actions", prescriber: @prescriber, title: "Resumo", kind: "patient_listing_p" %>

  <%= render "shared/patient/listing", closing: @current_closing.closing,
      representative_name: @representative.name, prescribers: @prescribers
  %>
</section>
