<section class="flex flex-col p-5 mb-20">
  <%= render "shared/patient/listing", closing: @current_closing.closing,
      representative_name: @representative.name, prescribers: @prescribers
  %>

  <%= link_to "Voltar", prescribers_path, class: "btn btn-default w-20" %>
</section>
