<section class="flex flex-col gap-5 my-10">
  <div class="card shadow-lg border border-primary">
    <%= render "additional_information", prescriber: @prescriber %>
  </div>

  <div class="card shadow-lg border border-primary">
    <%= render "address", prescriber: @prescriber, full_address: @prescriber.full_address, address: @address %>
  </div>

  <div class="card shadow-lg border border-primary collapse collapse-arrow">
    <%= render "current_accounts", prescriber: @prescriber, current_accounts: @current_accounts, prescribers: @prescribers_map %>
  </div>

  <%= render ButtonLinkComponent.new(label: "Voltar", url: prescribers_path) %>
</section>
