<footer class="flex justify-center footer text-black items-center lg:h-20 md:h-16 border-t font-jost fixed bottom-0 w-full bg-gray-100">
  <p>Desenvolvido por Renato Hernandez - 2025 - All right reserved</p>
</footer>
