<footer class="flex justify-center footer text-black items-center p-7 border-t mt-10 font-jost fixed bottom-0 w-full bg-gray-100">
  <aside class="grid-flow-col gap-12">
    <p>Desenvolvido por Renato Hernandez - 2025 - All right reserved</p>
  </aside>
</footer>
