<div class="navbar bg-primary text-white fixed z-40">
  <div class="flex-1">
    <%= link_to "UniPharmus", root_path, class: "btn btn-ghost lg:text-xl md:text-base" %>
  </div>

  <div class="navbar-center gap-5">
    <span class="lg:text-base md:text-xs">
      <%= link_to "Fechamento - #{ @current_closing.closing if @current_closing.present? }", closings_path %>
    </span>

    <div class="form-control text-black">
      <input type="text" placeholder="Search" class="input input-bordered w-80" />
    </div>
  </div>

  <div class="navbar-end gap-2 px-5">
    <span class="lg:text-lg md:text-base">
      <%= current_user.name.capitalize %>
    </span>

    <%= link_to destroy_user_session_path, class: "btn btn-ghost lg:text-xl md:text-base",
      data: { turbo_method: :delete }, title: "Sair" do %>
      <span class="material-symbols-outlined">logout </span>
    <% end %>
  </div>
</div>
